@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  background-color: #8330e3;
  margin-top: 0;
  padding: 1rem;
  color: white;
}
div {
  max-width: 700px;
  margin: auto;
}
p {
  text-align: left;
  margin: 1rem;
  padding: 0.5rem;
  font-weight: 700;
}
input {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid;
  border-radius: 4px;
}
button {
  font-family: "Montserrat", sans-serif;
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: #8330e3;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.result {
  max-width: 400px;
  margin: auto;
  border-radius: 4px;
  /* background-color: #8330e3; */
  text-align: center;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}
